<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.surveyapp" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SurveyApp" >
        <activity android:name=".WordSearchActivity"></activity>
        <activity android:name=".VisSearchImgActivity"></activity>
        <activity android:name=".SurRefActivity"></activity>
        <activity android:name=".MapActivity"></activity>
        <activity android:name=".PatternActivity"></activity>
        <activity android:name=".ShortMemActivity"></activity>
        <activity android:name=".SpatReasonActivity"></activity>
        <activity android:name=".ReadCompActivity"></activity>
        <activity android:name=".VisSearchActivity"></activity>
        <activity android:name=".TypingActivity"></activity>
        <activity android:name=".SubjectiveActivity"></activity>
        <activity android:name=".SpotDiffActivity"></activity>
        <activity android:name=".FinalPageActivity"></activity>
        <activity android:name=".ReactTimeActivity"></activity>
        <activity android:name=".VideoActivity"></activity>
        <activity
            android:name=".FirstPageActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>